/Basic Java tutorialspoint/JavaApplication3/nbproject/private/
/Basic Java tutorialspoint/JavaApplication3/build/
/Basic Java tutorialspoint/02 Class and Object/nbproject/private/
/Basic Java tutorialspoint/02 Class and Object/build/
/Basic Java tutorialspoint/03 Variable and Datatypes/nbproject/private/
/Basic Java tutorialspoint/03 Variable and Datatypes/build/