<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

   <!-- bean definition & AOP specific configuration -->
   
   <aop:aspectj-autoproxy/>
    <bean id="manager" class="com.aop.model.Manager">
        <property name="name" value="Manager Name" />
    </bean>

    <bean id="accountant" class="com.aop.model.Accountant">
        <property name="name" value="Accountant Name" />
    </bean>
    
    <bean id="empservices" class="com.aop.services.EmpService" autowire="byName">
        
    </bean>
    
    <bean id="logging" class="com.aop.aspect.EmpAspect"/> 
    
    <!--<context:component-scan base-package="com.aop.aspect" />-->

</beans>
